*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
header{
    width:100%;
    height:70px;
    background:rgb(43, 43, 43);
    display:flex;
    justify-content:end;
    align-items:center;
}
header h3{
    font-family:poppins;
    position:relative;
    right:500px;
    font-size:30px;
    color:white;
}
header ul li{
    list-style:none;
    display:inline-block;
    
}
ul li a{
    text-decoration:none;
    color:white;
    font-family:poppins;
    position:relative;
    right:20px;
    margin-left:20px;
}
main{
    width:100%;
    height:100vh;
    background-image: url("background.png"),linear-gradient(45deg,rgb(8, 8, 8),rgb(19, 16, 16));
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}
.banner-1{
    width:250px;
    position:relative;
    left:700px;
    top:200px;
}
main h1{
    color:white;
    font-size:50px;
}
.text{
    margin-left:60px;
    margin-bottom:10px;
}
.text p{
    color:white;
    font-size:18px;
    margin-top:10px;
    margin-bottom:10px;
}
.text button{
    border:none;
    background-color:red;
    color:white;
    padding:10px;
    font-size:15px;
    margin-top:10px;
    border-radius:3px;
    font-weight:600;
}
.about{
    width:100%;
    height:450px;
    background:rgb(31, 29, 29);
}
.about h1{
    color:white;
    font-size:50px;
    position:relative;
    top:20px;
    margin-left:40%;
}
.about img{
    width:250px;
    position:relative;
    top:100px;
    left:100px;
}
.text-2{
    color:white;
    margin-left:50%;
    margin-top:-170px;
}
.text-2 h4{
    font-size:30px;
    margin-top:10px;
}
.text-2 p{
    font-size:17px;
    margin-top:10px;
}
.text-2 button{
    background-color:red;
    border:none;
    padding:15px;
    color:white;
    font-size:15px;
    font-weight:600;
    margin-top:10px;
    border-radius:3px;
}
.service{
    width:100%;
    height:400px;
    background-image: url("background.png"),linear-gradient(45deg,rgb(8, 8, 8),rgb(19, 16, 16));
    
}
.service h1{
    color:white;
    font-size:50px;
    text-align:center;
}
.service-1{
    width:200px;
    height:300px;
    background:rgba(34, 33, 33, 0.62);
    margin-left:50px;
    border-radius:10px;
    box-shadow:3px 3px 100px white;
}
.service-1 img{
    width:70px;
    position:relative;
    left:30%;
    top:10px;
}
.service-1 h2{
    text-align:center;
    color:white;
    margin-top:10px;
}
.service-1 p{
    color:white;
    margin-top:10px;
    text-align:center;
}
.service-1 button{
    border:none;
    padding:5px 20px;
    border-radius:10px;
    margin-left:60px;
    margin-top:40px;
}
.service-2{
    width:200px;
    height:300px;
    background:rgba(34, 33, 33, 0.62);
    position:relative;
    top:-300px;
    left:400px;
    border-radius:10px;
    color:white;
    box-shadow:3px 3px 100px white;
}
.service-2 img{
    width:70px;
    margin-left:60px;
    margin-top:10px;
}
.service-2 h2{
    text-align:center;
}
.service-2 p{
    text-align:center;
    margin-top:10px;
}
.service-2 button{
    border:none;
    padding:5px 20px;
    border-radius:10px;
    margin-left:60px;
    margin-top:20px;
}
.service-3{
    width:200px;
    height:300px;
    background:rgba(34, 33, 33, 0.62);
    margin-top:-59%;
    margin-left:75%;
    border-radius:10px;
    color:white;
    box-shadow:3px 3px 100px white;
}
.service-3 img{
    width:70px;
    margin-left:60px;
    margin-top:10px;
}
.service-3 h2{
    text-align:center;

}
.service-3 p{
    text-align:center;
    margin-top:10px;
}
.service-3 button{
    border:none;
    padding:5px 20px;
    border-radius:10px;
    margin-left:60px;
    margin-top:35px;
}
footer{
    width:100%;
    height:50vh;
    background:black;
    display:flex;

}
footer > *{
    flex-basis:33%;
}
.foot-1{
    text-align:center;
    color:white;
    margin-top:20px;
}
.foot-2{
    color:white;
    text-align:center;
    margin-top:20px;
}
.foot-2 a{
    display:flex;
    justify-content:center;
    text-decoration:none;
    color:white;
    margin-top:10px;
}
.foot-3{
    color:white;
    text-align:center;
    margin-top:20px;
}
.foot-3 a{
    display:flex;
    justify-content:center;
    color:white;
    text-decoration:none;
    margin-top:10px;
}